.event{
	.ceremony-info, .reception-info{
		width:47%;
		margin:1em 0 0 0;
		p{
			margin:0 0 1em 0;
			&:last-child{
				margin:0;	
			}
		}
	}
	.ceremony-info{
		float:left;
		margin:1em 5% 0 0;
	}
	.reception-info{
		float:right;
	}
	@media screen and (min-width:320px) and (max-width:480px){
		.ceremony-info, .reception-info{
			width:100%;
			float:none;
		}
	}
}
