@include placeholder;
html{
	font-family:"proxima-nova", "Helvetica Neue", "Helvetica", Arial, serif;
	color:$navy;
	background:
	linear-gradient(135deg, lighten($lightest-pink, 20%) 25%, transparent 25%) -50px 0,
	linear-gradient(225deg, lighten($lightest-pink, 20%) 25%, transparent 25%) -50px 0,
	linear-gradient(315deg, lighten($lightest-pink, 20%) 25%, transparent 25%),
	linear-gradient(45deg, lighten($lightest-pink, 20%) 25%, transparent 25%);	
	background-size: 100px 100px;
	background-color: lighten($light-navy, 25%);
}
main{
	background:#ffffff;
	width:100%;
	max-width:1140px;
	margin:0 auto;
	@include box-shadow(0 0 10px 0 rgba(0, 0, 0, 0.5));
}
.bios, .event, .rsvp, .directions, .registry, .other-info{
	padding:0 2%;
	height:auto;
	h2{
		margin:.5em 0;
		font-size:3em;
		position: relative;
		width: 105.2%;
		font-weight: bold;
		padding: 7px 20px 7px 25px;
		margin:0.5em 0 0.5em -0.70em;
		color:$navy;
		background-color:white;
		@include text-shadow(0px 1px 2px $light-navy);
		@include box-shadow(0px 2px 4px $navy);
		&:before, &:after{
			content:' ';
			position:absolute;
			width:0;
			height:0;
		}
		&:after{
			left:0px;
			top:100%;
			border-width:5px 5px;
			border-style:solid;
			border-color:$navy $navy transparent transparent;
		}
	}
	p{
		line-height:1.5em;
	}
}