@mixin box-sizing($var){
	-moz-box-sizing:$var;
	-webkit-box-sizing:$var;
	box-sizing:$var;
}
@mixin prefixed-transition($var){
	-moz-transition:$var;
	-webkit-transition:$var;
	transition:$var;
}
@mixin box-shadow($var){
	-moz-box-shadow:$var;
	-webkit-box-shadow:$var;
	box-shadow:$var;
}
@mixin border-radius($var){
	-moz-border-radius:$var;
	-webkit-border-radius:$var;
	border-radius:$var;
}
@mixin text-shadow($var){
	-moz-text-shadow:$var;
	-webkit-text-shadow:$var;
	text-shadow:$var;
}
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
@mixin selection {
	::-moz-selection { @content; }
	::selection { @content; }
	::-webkit-input-placeholder { @content; }
}
@mixin placeholder {
	::-webkit-input-placeholder { color:$navy; font-style:italic; font-weight:100; }
	::-moz-placeholder { color:$navy; font-style:italic; }
	:-ms-input-placeholder { color:$navy; font-style:italic; }
	input:-moz-placeholder { color:$navy; font-style:italic; }
}