.rsvp{
	p{
		width:100%;
		max-width:485px;
		float:left;
		margin:0 5% 0 0;
	}
	form{
		width:100%;
		max-width:485px;
		float:left;
		input{
			padding:3px 5px;
			-webkit-appearance:none;
			-moz-appearance:none;
			appearance:none;
			border:1px solid $pink;
			font-style:italic;
			margin:0;
			display:block;
			float:left;
			margin:0 0 2.05% 0;
			font-weight:400;
			font-style:normal;
			&.third{
				width:31.95%;
			}
			&.double{
				width:48.95%;
			}
			&.single{
				width:100%;	
			}
			&.fname, &.city, &.state, &.email, &.guests{
				margin:0 2.05% 0 0;
			}

		}
		input[type="submit"]{
			width:100%;
			color:$navy;
			font-weight:700;
			background:none;
			font-style:normal;
			margin:0;
			@include prefixed-transition(all 0.5s ease-in-out);
			&:hover{
				background:$navy;
				color:white;
				border:1px solid $navy;
			}
		}
	}	
}
