$blue:#19b7eb;
$dark-blue:#045a78;
$lightest-pink:#ff73c8;
$light-pink:#ff40b4;
$medium-pink:#bf3087;
$dark-pink:#a60065;
$pink:#ff0099;
$lightest-navy:#5d6897;
$light-navy:#485797;
$medium-navy:#111423;
$navy:#0E142E;