<form action="" method="post">
  <label for="fname"></label>
  <input type="text" name="fname" placeholder="First Name">
  <label for="lname"></label>
  <input type="text" name="lname" placeholder="Last Name">
  <label for="address"></label>
  <input type="text" name="address" placeholder="Address">
  <label for="city"></label>
  <input type="text" name="city" placeholder="City">
  <label for="state"></label>
  <select>
    <option>State</option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
  </select>
  <label for="zipcode"></label>
  <input type="text" name="zipcode" placeholder="Zipcode">
  <label for="email"></label>
  <input type="email" name="email" placeholder="Email">
  <label for="guests"></label>
  <select>
    <option>Number of Guests</option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
  </select>
  <label for="request"></label>
  <input type="text" name="requests" placeholder="Special Requests">
  <label for="submit"></label>
  <input type="submit" name="submit">